<nav class="navegation">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="Quienes somos">Quienes somos</a></li>
        <li><a href="Contacto">Contacto</a></li>
        <li><%= link_to 'Login', new_user_registration_path %></li>

    </ul>
</nav>