<body>
  <header>
  <% if user_signed_in? %>
      <%= render 'shared/sidebar' %>
      <%= render 'shared/usersettings' %>
  <% else %>
      <%= render 'shared/navegation' %>
  <% end %>
  </header>

  <main>


  </main>

  <footer>
  <p>Copyright &copy;</p>
  </footer>
</body>
</html>
