



<body>
  
<main>
  <ol type="A" style="display: inline-block">
    <p class="maquina-escribir"> ........................................ <strong style="color: white">BitMed.</strong><span class="cursor">|</span></p>
</main>




  <footer>
  <p>Copyright &copy;</p>
  </footer>

</body>
</html>
