:root {
  --color-primary: #101010;
  --color-secondary: #3c0000;
  --color-accent: #000000;
  --color-tertiary: #ffffff;
  --color-quaternary: #ca8181; 
}

header {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

/* Tipografía y colores generales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  text-shadow: 2px 2px 4px var(--color-quaternary);
  border-radius: 5px;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-accent);
  color: var(--color-tertiary);
  text-shadow: 2px 2px 4px var(--color-quaternary);
  border-radius: 5px;

}


/* Estilos del formulario de búsqueda */
form {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  margin-bottom: 1em; /* Espacio debajo del formulario */
  border-radius: 5px;

}

/* Estilos de lista */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

/* Estilos de la barra de navegación */
.navegation { 
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  background-color: var(--color-secondary);
  box-shadow: 0px 8px 16px 0px var(--color-primary);
  border-radius: 5px;

}

.navegation ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
    border-radius: 5px;

}

.navegation ul li a {
  font-family: 'Roboto', sans-serif;
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-quaternary);
  border-radius: 5px;

}

.navegation ul li ul {
  display: none;
  position: absolute;
  background-color: none;
}


.navegation ul li:hover {
  background-color: var(--color-accent);
  animation: glowing 2s infinite;
}

.navegation ul li:hover ul {
  display: block;
}

.navegation ul li a:hover {
  color: var(--color-tertiary);
  text-shadow: 0 0 2px var(--color-quaternary), 0 0 5px var(--color-quaternary), 0 0 10px var(--color-quaternary), 0 0 15px var(--color-quaternary);
}

.navegation ul li ul li {
  color: var(--color-quaternary); 
  text-shadow: 2px 2px 4px var(--color-primary);
  display: block;
  transition: background-color 0.3s ease; 
  font-family: 'Roboto', sans-serif;
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-primary);
}

.navegation ul li ul li:hover {
  background-color: var(--color-accent); 
  color: var(--color-quaternary); 
  text-shadow: 0 0 2px var(--color-quaternary), 0 0 5px var(--color-quaternary), 0 0 10px var(--color-quaternary), 0 0 15px var(--color-quaternary); 
  animation: glowing 2s infinite; 
}


/* Estilos de la tabla */
table {
  display: flex;
  justify-content: center;
  margin: 0 auto; /* Centra la tabla horizontalmente */
  margin-bottom: 1em; /* Espacio debajo de la tabla */
  width: 80%; /* Ancho de la tabla */
  table-layout: fixed; /* Asegura que las columnas tengan el mismo ancho */
  border-radius: 5px;
  background-color: var(--color-primary);

}

/* Estilos de las celdas de la tabla */
td, th {
  padding: 0 4em; /* Espacio a los lados de cada celda */
  
}

/* Estilos del botón */
.new-patient {
  font-family: 'Roboto';
  display: block; /* Hace que el botón ocupe toda la línea */
  width: fit-content; /* El ancho del botón se ajusta al contenido */
  margin: 0 auto; /* Centra el botón horizontalmente */
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-accent);
  background-color: var(--color-primary);
  border-radius: 5px;

}

#logo_first {
  width: 150px;
  height: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
  left: 10px;
  box-shadow: 0px 8px 16px 0px var(--color-quaternary);
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(-45deg, var(--color-quaternary), var(--color-primary));
  background-origin: border-box;
  background-clip: content-box, border-box; 
  box-decoration-break: clone;
  animation: light 1s infinite linear;
  border-radius: 5% 5% 5% 5%;

}

@keyframes light {
  to { background-position: 100% 0, 200% 0; }
}

#logo_first:hover {
  box-shadow: 0px 0px 10px 5px var(--color-accent);
}

/* Animaciones */
@keyframes glowing {
  0% { box-shadow: 0 0 5px var(--color-tertiary), 0 0 10px var(--color-tertiary), 0 0 15px var(--color-tertiary), 0 0 20px var(--color-tertiary); }
  50% { box-shadow: 0 0 20px var(--color-tertiary), 0 0 30px var(--color-tertiary), 0 0 40px var(--color-tertiary), 0 0 50px var(--color-tertiary); }
  100% { box-shadow: 0 0 5px var(--color-tertiary), 0 0 10px var(--color-tertiary), 0 0 15px var(--color-tertiary), 0 0 20px var(--color-tertiary); }
}

.maquina-escribir {
  display: flex;
  -ms-flex-align: center;
  font-size: large;
  font-family: monospace;
  white-space: nowrap;
  width: 100ch;
  animation: escribiendo 10s steps(100);
  overflow: hidden;
}

.cursor {
  animation: parpadeo-cursor 0.6s infinite;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}

@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}
