:root {
  --color-background: #09252c;
  --color-primary: #8b8484;
  --color-secondary: rgb(89, 89, 89);
  --color-text-off: #0e3742;
  --color-text-on: #fff;
  --color-text: #f9f9f9ac;
  --color-text-shadow: #03bcf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';

}

/* Tipografía y colores generales */
body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-background);

}

h1 {
  
  font-size: 6em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.70em;
  outline: none;
  animation: animate 6s ;
  animation-fill-mode: forwards;


}

@keyframes animate {0%, 18%, 20%, 50.1%, 60%, 65%, 80.1%, 90.1%, 92%
  {
   color:#0e3742;
   box-shadow: none;
 }
 18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
   color: #fff;
   text-shadow: 0 0 10px #03bcf4,
   0 0 20px #03bcf4,
   0 0 40px #03bcf4,
   0 0 80px #03bcf4,
   0 0 160px #03bcf4;
 }
}

main {
  display: grid;
  width: auto;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  text-shadow: 2px 2px 4px var(--color-text-shadow);
  border-radius: 5px;


}


/* Estilos de la barra de navegación */
.navegation {
  display: flex;
  color:var(--color-text-off);
  text-shadow: var(--color-text-shadow);
  justify-content: center; 
  border-radius: 5px;

}

.navegation ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  border-radius: 5px;

}

.navegation ul li a {
  font-family: 'Roboto', sans-serif;
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-quaternary);
  border-radius: 5px;
}

.navegation ul li ul {
  display: none;
  position: absolute;
  background-color: none;
}

.navegation ul li:hover {
  animation: glowing 2s infinite;
}


.navegation ul li:hover ul {
  display: block;
}


.navegation ul li a:hover {
  color: #fff;
  text-shadow: 0 0 2px var(--color-text-shadow), 0 0 5px var(--color-text-shadow), 0 0 10px var(--color-text-shadow), 0 0 15px var(--color-text-shadow);
}


.navegation ul li ul li {
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-primary);
  display: block;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-primary);
}


.navegation ul li ul li:hover {
  background-color: var(--color-accent);
  color: var(--color-quaternary);
  text-shadow: 0 0 2px var(--color-quaternary), 0 0 5px var(--color-quaternary), 0 0 10px var(--color-quaternary), 0 0 15px var(--color-quaternary);
  animation: glowing 2s infinite;
}

.notice {
  color: var(--color-text-on);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.70em;
  outline: none;
  text-shadow: 0 0 2px green, 0 0 5px green, 0 0 10px green, 0 0 15px green;

}

.alert {
  color: var(--color-text-on);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.70em;
  outline: none;
  text-shadow: 0 0 2px red, 0 0 5px red, 0 0 10px red, 0 0 15px red;

}

/* Estilos del formulario de búsqueda */
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

form .field {
  display: contents;
}

form label, form input, form select, form textarea {
  grid-column: 1 / -1;
}


/* Estilos de lista */
ul {
  list-style-type: none;
  padding: 0;
}


li {
  margin-bottom: 0.5em;
}

.maquina-escribir {
  display: flex;
  -ms-flex-align: center;
  font-size: large;
  font-family: monospace;
  white-space: nowrap;
  width: 100%;
  animation: escribiendo 10s steps(100);
  overflow: hidden;
}


.cursor {
  animation: parpadeo-cursor 0.6s infinite;
}


@keyframes escribiendo {
  from {
    width: 0;
  }
}


@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}







